<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Address Book Application</title>
</head>
<body>
    <header>
        <h1><a href="{% url 'home' %}">Address Book</a></h1>
        <h3><a href="{% url 'new_contact' %}">Create New Contact</a></h3>
    </header>
    <div>
        {%block content %}
        {% endblock %}
    </div>
</body>
</html>