{% extends 'base.html' %}

{% block content %}
        <div>
            <ul>
                <li>First Name: {{ object.firstName }}</li>
                <li>Last Name: {{ object.lastName }}</li>
                <li>Phone: {{ object.phoneNumber }}</li>
                <li>Email: {{ object.email }}</li>
                <li>Address: {{ object.address }}</li>
            </ul>
        </div>
        <div>
            <a href="{% url 'delete_contact' pk=contacts.id %}">Delete Contact</a>
        </div>
{% endblock %}